# Core Dash libraries
dash
dash-bootstrap-components

# Data and visualization
pandas
plotly

# Database connection & Configuration
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
pydantic-settings

# Logging
structlog
